[submodule "huboJointConstants"]
	path = huboJointConstants
	url = git@github.com:thedancomplex/huboJointConstants.git
[submodule "recordAces"]
	path = recordAces
	url = git@github.com:thedancomplex/recordAces.git
[submodule "aces2openHubo"]
	path = aces2openHubo
	url = git@github.com:thedancomplex/aces2openHubo.git
